# Virtual environments
venv/
.venv/
env/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Build files
build/

# Distribution files
dist/
*.egg-info/

# FFmpeg binaries
ffmpeg*
ffmpeg/

#extras
*.pdf
*.docx
*.pptx
*.wav
*.mp3
*.mp4
*.webm